
*.lastbuildstate

*.tlog

*.idb

*.enc

*.db

*.opendb

*.ipch

*.ipdb

*.db-wal

*.db-shm

*.iobj

\.vs/internal_rewrite/v15/\.suo

x64/
bin/

Debug/

Release/
*.obj
*.log
*.pdb
*.dll
*.exe
*.user
*.suo

*.cpp~

*.json

*.sqlite
